<div class="topic">
    <a href="{{.URL}}">{{ .Name }} </a>
    {{ if .HasChildren }}
        {{ range .Children }}				    
    	<div class="topic">
    	    <a href="{{.URL}}">{{ .Name }}</a>
            {{ if .HasChildren }}
    	        {{ range .Children }}				    
    	    	<div class="topic">
    	    	    <a href="{{.URL}}">{{ .Name }}</a>
                    {{ if .HasChildren }}
    	                {{ range .Children }}				    
    	           	    <div class="topic">
    	           	        <a href="{{.URL}}">{{ .Name }}</a>
    	           	    </div>
    	               {{ end }}
    	           {{ end }}
    	    	</div>
    	        {{ end }}
    	    {{ end }}
    	</div>
    	{{ end }}
    {{ end }}
</div>