html {
    font-family: "Lato", sans-serif;
    color: #444;
    padding: 5%;
}

.topics {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.topic {
    display: block;
    margin: 10px;
    border: 1px solid black;
    flex-grow: 1;
    flex-basis: content;
    background-color: rgba(234, 233, 224, 0.5);
}

.topic .topic {
    font-size: 0.9rem;
}

.topic .topic .topic {
    font-size: 0.8rem;
}

.topic .topic .topic .topic {
    font-size: 0.7rem;
}

.topic>a {
    display: inline-block;
    margin: 10px;
}

.topic .topic>a {
    margin: 8px;
}

.topic .topic .topic>a {
    margin: 6px;
}

.topic .topic .topic .topic>a {
    margin: 4px;
}

h1 {
    font-weight: 400;
}

a {
    background-color: transparent;
    color: #2A75BA;
    text-decoration: none;
}

a:hover,
a:active {
    color: #2A75BA;
    outline: 0px none;
    text-decoration: underline;
}

.header-main h1 {
    border-bottom: 1px solid #DDD;
    margin-bottom: 2rem;
    position: relative;
}

nav {
    margin-bottom: 40px;
}

.breadcrumb {
    overflow: hidden;
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: white;
    padding: 0 10px 0 30px;
    background: #eee;
    color: black;
    transition: all 0.5s;
    position: relative;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.breadcrumb a:before {
    background: #eee;
    box-shadow: 0 0 0 1px #ccc;
}

.breadcrumb a:first-child {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
}

.breadcrumb a:last-child {
    border-radius: 0 3px 3px 0;
    /*this was to prevent glitches on hover*/
    padding-right: 12px;
}

.breadcrumb a.active,
.breadcrumb a:hover,
.breadcrumb a.active:after,
.breadcrumb a:hover:after {
    background: #999;
}


/*adding the arrows for the breadcrumbs using rotated pseudo elements*/

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 36px;
    height: 36px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    background: #eee;
    color: black;
    transition: all 0.5s;
    /*stylish arrow design using box shadow*/
    box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/1KWMyx7m-L0fkQGwYhWwuuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}